pyspark==3.2.1
isort==5.10.1
black==21.12b0
flake8==4.0.1
mypy==0.910
pre-commit==2.16.0
pytest==6.2.5
setuptools>=57.0.0
dagster==1.8.5
dagit==1.8.5        # Optional: if you want the web UI for Dagster
boto3
